<form method="POST" action="/create?color=red">
    <input name="item" placeholder="Leche" />
    <input name="quantity" type="number" value="1" />

    <button type="submit">Create this item</button>
</form>